<div class="main-wrap">
  <img src="turrel.jpg" alt="name" class="enemy-image">
  <div class="desc">
    <h2 class="item-title">Name</h2>
    <h4 class="item-type">Type</h4>
    <p class="desc-body">  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Aperiam, tenetur? Alias, perspiciatis vitae. Temporibus aut quas, odio
      magnam corrupti animi sapiente. Doloremque
      quibusdam mollitia soluta numquam pariatur asperiores, quae harum!
    </p>
  </div>

</div>
<button type="button" name="edit" class="btn">edit</button>
