.main-wrap{
  display: flex;
}
.desc{
  width: 800px;
  margin-left: 30px;
}
.article-image{
  // width: 25%;
  // height: 25%;
}
.item-title{
  margin-top:30px;
  text-align: center;
}
.item-type{
  text-align: center;
}
.desc-body{
  margin-top:10px;
  font-size: 18px;
}
.btn{
  padding: 0 20px;
  text-transform: uppercase;
}
