.listOfArticles{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-bottom: 20px;

}
.article-card{
  width: 210px;
  padding: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin: 5px;
  text-align: center;

}
.article-link{
  text-transform: capitalize;
  text-decoration: none;
  color: #3f51b5;
}
.article-desc{
    width: 170px;
    height: 300px;
}

.thumb{
  width: 200px;
  /*height: 7%;*/
}
@media screen and  (min-device-width: 320px) and (max-device-width:600px) and  (min-width: 320px) and (max-width:600px){
  .article-card{
    width: 100%;
    max-width: 507px;
  }
  .thumb{
    width: auto;
  }


}
