.listOfArticles{
  list-style: none;
  margin: 20px;
}
.newArticleForm *{
  display: block;
  margin: 10px;
}
.article-desc{
    width: 170px;
    height: 300px;
}
.toggler{
  cursor: pointer;
}
.thumb{
  width: 8%;
  height: 8%;
}
