.listOfArticles{
  text-align: center;
  list-style: none;
  margin: 20px;
}
.newArticleForm *{
  display: block;
  margin: 10px;
}
.article-desc{
    width: 170px;
    height: 300px;
}
.toggler{
  cursor: pointer;
}
.thumb{
  width: 7%;
  height: 7%;
}
.newItem-wrap{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;

  flex-direction: column;
  align-items: center;
}
